@font-face {
  font-family: din alternate;
  font-style: normal;
  font-weight: 700;
  src: url("./DINAlternate-Bold.woff") format("woff");
}

@font-face {
  font-family: GenYoGothic JP;
  src: url("./GenYoGothic-M.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: GenYoGothic JP;
  src: url("./GenYoGothic-B.woff") format("woff");
  font-weight: 700;
}

html,
body {
  margin: 0 auto;
  width: 100%;
}

/* variable when lang = cn, tw */
.zh-lang {
  --font-family-Arial: GenYoGothic JP;
  --font-family-DIN: GenYoGothic JP;

  /*zh lang for  Nav Web */
  --font-nav-weight: 500;
  --font-nav-line-height: 20px;
  --font-nav-letter-spacing: 0.1rem;
  --commercial-nav-space-max-width: 335px;
  --commercial-nav-item-max-width: 749px;

  /* zh lang for Nav Mobile */

  /* zh lang for Product Web */
  --font-weight-products-section-title: 700;
  --font-line-height-products-section-title: 36px;
  --font-letter-spacing-products-section-title: 0.1rem;

  --font-weight-products-section-content: 500;
  --font-line-height-products-section-content: 36px;
  --font-letter-spacing-products-section-content: 0.05rem;

  --font-weight-products-section1-card-title: 700;
  --font-line-height-products-section1-card-title: 22px;
  --font-letter-spacing-products-section1-card-title: 0.1rem;

  --font-weight-products-section1-card-content: 500;
  --font-line-height-products-section1-card-content: 31.96px;
  --font-letter-spacing-products-section1-card-content: 0.04rem;

  --font-weight-products-section2-card-title: 900;
  --font-line-height-products-section2-card-title: 45.13px;
  --font-letter-spacing-products-section2-card-title: 0rem;

  --font-weight-products-section2-card-subtitle: 700;
  --font-line-height-products-section2-card-subtitle: 32px;
  --font-letter-spacing-products-section2-card-subtitle: 0.06rem;

  --font-weight-products-section2-card-subtitle-li: 700;
  --font-line-height-products-section2-card-subtitle-li: 30.24px;
  --font-letter-spacing-products-section2-card-subtitle-li: 0rem;

  --font-weight-products-section3-card-title: 700;
  --font-line-height-products-section3-card-title: 32px;
  --font-letter-spacing-products-section3-card-title: 0.1rem;

  --font-weight-products-section3-card-content: 500;
  --font-line-height-products-section3-card-content: 26px;
  --font-letter-spacing-products-section3-card-content: 0.05rem;

  /* zh lang for Product Mobile */
  --font-weight-products-mobile-section-title: 700;
  --font-line-height-products-mobile-section-title: 22px;
  --font-letter-spacing-products-mobile-section-title: 0.1rem;

  --font-weight-products-mobile-section-content: 500;
  --font-line-height-products-mobile-section-content: 23.1px;
  --font-letter-spacing-products-mobile-section-content: 0.04rem;

  --font-weight-products-mobile-section1-card-title: 700;
  --font-line-height-products-mobile-section1-card-title: 20px;
  --font-letter-spacing-products-mobile-section1-card-title: 0.1rem;

  --font-weight-products-mobile-section1-card-content: 500;
  --font-line-height-products-mobile-section1-card-content: 26.32px;
  --font-letter-spacing-products-mobile-section1-card-content: 0.04rem;

  --font-weight-products-mobile-section2-card-title: 700;
  --font-line-height-products-mobile-section2-card-title: 20px;
  --font-letter-spacing-products-mobile-section2-card-title: 0.06rem;

  --font-weight-products-mobile-section2-card-subtitle: 700;
  --font-line-height-products-mobile-section2-card-subtitle: 23.52px;
  --font-letter-spacing-products-mobile-section2-card-subtitle: 0.06rem;

  --font-weight-products-mobile-section2-card-subtitle-li: 500;
  --font-line-height-products-mobile-section2-card-subtitle-li: 23.52px;
  --font-letter-spacing-products-mobile-section2-card-subtitle-li: 0.04rem;

  --font-weight-products-mobile-section3-card-title: 700;
  --font-line-height-products-mobile-section3-card-title: 18px;
  --font-letter-spacing-products-mobile-section3-card-title: 0.1rem;

  --font-weight-products-mobile-section3-card-content: 500;
  --font-line-height-products-mobile-section3-card-content: 15.6px;
  --font-letter-spacing-products-mobile-section3-card-content: 0.05rem;

  /* zh lang for Commercial Web */
  --font-weight-commercial-section1-title: 700;
  --font-line-height-commercial-section1-title: 36px;
  --font-letter-spacing-commercial-section1-title: 0.06rem;

  --font-weight-commercial-section1-content: 500;
  --font-line-height-commercial-section1-content: 41.36px;
  --font-letter-spacing-commercial-section1-content: 0.04rem;

  --font-weight-commercial-section1-card-title: 700;
  --font-line-height-commercial-section1-card-title: 44.8px;
  --font-letter-spacing-commercial-section1-card-title: 0.1rem;

  --font-weight-commercial-section1-card-content: 500;
  --font-line-height-commercial-section1-card-content: 40.7px;
  --font-letter-spacing-commercial-section1-card-content: 0.05rem;

  --font-weight-commercial-section2-title: 700;
  --font-line-height-commercial-section2-title: 36px;
  --font-letter-spacing-commercial-section2-title: 0.06rem;

  --font-weight-commercial-section2-content: 500;
  --font-line-height-commercial-section2-content: 41.36px;
  --font-letter-spacing-commercial-section2-content: 0.04rem;

  --font-weight-commercial-section2-card-title: 700;
  --font-line-height-commercial-section2-card-title: 35.2px;
  --font-letter-spacing-commercial-section2-card-title: 0.06rem;

  --font-weight-commercial-section2-card-content: 500;
  --font-line-height-commercial-section2-card-content: 31.5px;
  --font-letter-spacing-commercial-section2-card-content: 0.05rem;

  --font-weight-commercial-section2-card-title-hover: 700;
  --font-line-height-commercial-section2-card-title-hover: 38.4px;
  --font-letter-spacing-commercial-section2-card-title-hover: 0.06rem;

  --font-weight-commercial-section2-card-content-hover: 700;
  --font-line-height-commercial-section2-card-content-hover: 35px;
  --font-letter-spacing-commercial-section2-card-content-hover: 0.05rem;

  --font-weight-commercial-section3-title: 700;
  --font-line-height-commercial-section3-title: 36px;
  --font-letter-spacing-commercial-section3-title: 0.06rem;

  --font-weight-commercial-section3-content: 500;
  --font-line-height-commercial-section3-content: 41.36px;
  --font-letter-spacing-commercial-section3-content: 0.04rem;

  --font-weight-commercial-section3-content-no: 900;
  --font-line-height-commercial-section3-content-no: 64px;
  --font-letter-spacing-commercial-section3-content-no: 0rem;

  --font-weight-commercial-section3-content-title: 700;
  --font-line-height-commercial-section3-content-title: 41.6px;
  --font-letter-spacing-commercial-section3-content-title: 0.06rem;

  --font-weight-commercial-section3-content-content: 500;
  --font-line-height-commercial-section3-content-content: 41.36px;
  --font-letter-spacing-commercial-section3-content-content: 0.02rem;

  /* zh lang for Commercial Mobile */
  --font-weight-commercial-mobile-section1-title: 700;
  --font-line-height-commercial-mobile-section1-title: 22px;
  --font-letter-spacing-commercial-mobile-section1-title: 0.06rem;

  --font-weight-commercial-mobile-section1-content: 500;
  --font-line-height-commercial-mobile-section1-content: 23.8px;
  --font-letter-spacing-commercial-mobile-section1-content: 0.04rem;

  --font-weight-commercial-mobile-section1-card-title: 700;
  --font-line-height-commercial-mobile-section1-card-title: 32px;
  --font-letter-spacing-commercial-mobile-section1-card-title: 0.1rem;

  --font-weight-commercial-mobile-section1-card-content: 500;
  --font-line-height-commercial-mobile-section1-card-content: 27.2px;
  --font-letter-spacing-commercial-mobile-section1-card-content: 0.05rem;

  --font-weight-commercial-mobile-section2-title: 700;
  --font-line-height-commercial-mobile-section2-title: 22px;
  --font-letter-spacing-commercial-mobile-section2-title: 0rem;

  --font-weight-commercial-mobile-section2-content: 500;
  --font-line-height-commercial-mobile-section2-content: 23.8px;
  --font-letter-spacing-commercial-mobile-section2-content: 0.04rem;

  --font-weight-commercial-mobile-section2-card-title: 700;
  --font-line-height-commercial-mobile-section2-card-title: 35.2px;
  --font-letter-spacing-commercial-mobile-section2-card-title: 0.06rem;

  --font-weight-commercial-mobile-section2-card-content: 500;
  --font-line-height-commercial-mobile-section2-card-content: 24.5px;
  --font-letter-spacing-commercial-mobile-section2-card-content: 0.05rem;

  --font-weight-commercial-mobile-section2-card-title-hover: 700;
  --font-line-height-commercial-mobile-section2-card-title-hover: 38.4px;
  --font-letter-spacing-commercial-mobile-section2-card-title-hover: 0.06rem;

  --font-weight-commercial-mobile-section2-card-content-hover: 700;
  --font-line-height-commercial-mobile-section2-card-content-hover: 28px;
  --font-letter-spacing-commercial-mobile-section2-card-content-hover: 0.05rem;

  --font-weight-commercial-mobile-section3-title: 700;
  --font-line-height-commercial-mobile-section3-title: 22px;
  --font-letter-spacing-commercial-mobile-section3-title: 0rem;

  --font-weight-commercial-mobile-section3-content: 500;
  --font-line-height-commercial-mobile-section3-content: 26.32px;
  --font-letter-spacing-commercial-mobile-section3-content: 0.04rem;

  --font-weight-commercial-mobile-section3-content-no: 900;
  --font-line-height-commercial-mobile-section3-content-no: 48px;
  --font-letter-spacing-commercial-mobile-section3-content-no: 0rem;

  --font-weight-commercial-mobile-section3-content-title: 700;
  --font-line-height-commercial-mobile-section3-content-title: 32px;
  --font-letter-spacing-commercial-mobile-section3-content-title: 0.06rem;

  --font-weight-commercial-mobile-section3-content-content: 500;
  --font-line-height-commercial-mobile-section3-content-content: 26.32px;
  --font-letter-spacing-commercial-mobile-section3-content-content: 0.02rem;
}

/* Root variables */
.en-lang {
  --font-family-Arial: Arial Black;
  --font-family-DIN: din alternate;

  /* Root for Nav Web */
  --font-nav-weight: 700;
  --font-nav-line-height: 23.28px;
  --font-nav-letter-spacing: 0rem;
  --commercial-nav-space-max-width: 367px;
  --commercial-nav-item-max-width: 717px;

  /* Root for Nav Mobile */

  /* Root for Product Web */
  --font-weight-products-section-title: 900;
  --font-line-height-products-section-title: 50.77px;
  --font-letter-spacing-products-section-title: 0rem;

  --font-weight-products-section-content: 700;
  --font-line-height-products-section-content: 35.2px;
  --font-letter-spacing-products-section-content: 0.02rem;

  --font-weight-products-section1-card-title: 900;
  --font-line-height-products-section1-card-title: 31.02px;
  --font-letter-spacing-products-section1-card-title: 0rem;

  --font-weight-products-section1-card-content: 700;
  --font-line-height-products-section1-card-content: 24.65px;
  --font-letter-spacing-products-section1-card-content: 0rem;

  --font-weight-products-section2-card-title: 900;
  --font-line-height-products-section2-card-title: 45.13px;
  --font-letter-spacing-products-section2-card-title: 0rem;

  --font-weight-products-section2-card-subtitle: 900;
  --font-line-height-products-section2-card-subtitle: 33.6px;
  --font-letter-spacing-products-section2-card-subtitle: 0rem;

  --font-weight-products-section2-card-subtitle-li: 700;
  --font-line-height-products-section2-card-subtitle-li: 30.24px;
  --font-letter-spacing-products-section2-card-subtitle-li: 0rem;

  --font-weight-products-section3-card-title: 900;
  --font-line-height-products-section3-card-title: 45.13px;
  --font-letter-spacing-products-section3-card-title: 0rem;

  --font-weight-products-section3-card-content: 700;
  --font-line-height-products-section3-card-content: 26px;
  --font-letter-spacing-products-section3-card-content: 0rem;

  /* Root for Product Mobile */
  --font-weight-products-mobile-section-title: 900;
  --font-line-height-products-mobile-section-title: 31.02px;
  --font-letter-spacing-products-mobile-section-title: 0rem;

  --font-weight-products-mobile-section-content: 700;
  --font-line-height-products-mobile-section-content: 18.9px;
  --font-letter-spacing-products-mobile-section-content: 0rem;

  --font-weight-products-mobile-section1-card-title: 900;
  --font-line-height-products-mobile-section1-card-title: 28.2px;
  --font-letter-spacing-products-mobile-section1-card-title: 0rem;

  --font-weight-products-mobile-section1-card-content: 700;
  --font-line-height-products-mobile-section1-card-content: 19.6px;
  --font-letter-spacing-products-mobile-section1-card-content: 0rem;

  --font-weight-products-mobile-section2-card-title: 900;
  --font-line-height-products-mobile-section2-card-title: 28.2px;
  --font-letter-spacing-products-mobile-section2-card-title: 0rem;

  --font-weight-products-mobile-section2-card-subtitle: 900;
  --font-line-height-products-mobile-section2-card-subtitle: 23.52px;
  --font-letter-spacing-products-mobile-section2-card-subtitle: 0rem;

  --font-weight-products-mobile-section2-card-subtitle-li: 700;
  --font-line-height-products-mobile-section2-card-subtitle-li: 23.52px;
  --font-letter-spacing-products-mobile-section2-card-subtitle-li: 0rem;

  --font-weight-products-mobile-section3-card-title: 900;
  --font-line-height-products-mobile-section3-card-title: 25.38px;
  --font-letter-spacing-products-mobile-section3-card-title: 0rem;

  --font-weight-products-mobile-section3-card-content: 700;
  --font-line-height-products-mobile-section3-card-content: 15.6px;
  --font-letter-spacing-products-mobile-section3-card-content: 0rem;

  /* Root for Commercial Web */
  --font-weight-commercial-section1-title: 900;
  --font-line-height-commercial-section1-title: 50.77px;
  --font-letter-spacing-commercial-section1-title: 0rem;

  --font-weight-commercial-section1-content: 700;
  --font-line-height-commercial-section1-content: 35.2px;
  --font-letter-spacing-commercial-section1-content: 0rem;

  --font-weight-commercial-section1-card-title: 900;
  --font-line-height-commercial-section1-card-title: 44.8px;
  --font-letter-spacing-commercial-section1-card-title: 0rem;

  --font-weight-commercial-section1-card-content: 700;
  --font-line-height-commercial-section1-card-content: 37.4px;
  --font-letter-spacing-commercial-section1-card-content: 0rem;

  --font-weight-commercial-section2-title: 900;
  --font-line-height-commercial-section2-title: 50.77px;
  --font-letter-spacing-commercial-section2-title: 0rem;

  --font-weight-commercial-section2-content: 700;
  --font-line-height-commercial-section2-content: 35.2px;
  --font-letter-spacing-commercial-section2-content: 0rem;

  --font-weight-commercial-section2-card-title: 900;
  --font-line-height-commercial-section2-card-title: 35.2px;
  --font-letter-spacing-commercial-section2-card-title: 0rem;

  --font-weight-commercial-section2-card-content: 700;
  --font-line-height-commercial-section2-card-content: 28.8px;
  --font-letter-spacing-commercial-section2-card-content: 0rem;

  --font-weight-commercial-section2-card-title-hover: 900;
  --font-line-height-commercial-section2-card-title-hover: 38.4px;
  --font-letter-spacing-commercial-section2-card-title-hover: 0rem;

  --font-weight-commercial-section2-card-content-hover: 700;
  --font-line-height-commercial-section2-card-content-hover: 32px;
  --font-letter-spacing-commercial-section2-card-content-hover: 0rem;

  --font-weight-commercial-section3-title: 900;
  --font-line-height-commercial-section3-title: 50.77px;
  --font-letter-spacing-commercial-section3-title: 0rem;

  --font-weight-commercial-section3-content: 700;
  --font-line-height-commercial-section3-title: 35.2px;
  --font-letter-spacing-commercial-section3-title: 0rem;

  --font-weight-commercial-section3-content-no: 900;
  --font-line-height-commercial-section3-content-no: 64px;
  --font-letter-spacing-commercial-section3-content-no: 0rem;

  --font-weight-commercial-section3-content-title: 900;
  --font-line-height-commercial-section3-content-title: 41.6px;
  --font-letter-spacing-commercial-section3-content-title: 0.01rem;

  --font-weight-commercial-section3-content-content: 700;
  --font-line-height-commercial-section3-content-content: 35.2px;
  --font-letter-spacing-commercial-section3-content-content: 0rem;

  /* Root for Commercial Mobile */
  --font-weight-commercial-mobile-section1-title: 900;
  --font-line-height-commercial-mobile-section1-title: 31.02px;
  --font-letter-spacing-commercial-mobile-section1-title: 0rem;

  --font-weight-commercial-mobile-section1-content: 700;
  --font-line-height-commercial-mobile-section1-content: 19.6px;
  --font-letter-spacing-commercial-mobile-section1-content: 0rem;

  --font-weight-commercial-mobile-section1-card-title: 900;
  --font-line-height-commercial-mobile-section1-card-title: 32px;
  --font-letter-spacing-commercial-mobile-section1-card-title: 0rem;

  --font-weight-commercial-mobile-section1-card-content: 700;
  --font-line-height-commercial-mobile-section1-card-content: 23.2px;
  --font-letter-spacing-commercial-mobile-section1-card-content: 0rem;

  --font-weight-commercial-mobile-section2-title: 900;
  --font-line-height-commercial-mobile-section2-title: 31.02px;
  --font-letter-spacing-commercial-mobile-section2-title: 0rem;

  --font-weight-commercial-mobile-section2-content: 700;
  --font-line-height-commercial-mobile-section2-content: 19.6px;
  --font-letter-spacing-commercial-mobile-section2-content: 0rem;

  --font-weight-commercial-mobile-section2-card-title: 900;
  --font-line-height-commercial-mobile-section2-card-title: 35.2px;
  --font-letter-spacing-commercial-mobile-section2-card-title: 0rem;

  --font-weight-commercial-mobile-section2-card-content: 700;
  --font-line-height-commercial-mobile-section2-card-content: 22.4px;
  --font-letter-spacing-commercial-mobile-section2-card-content: 0rem;

  --font-weight-commercial-mobile-section2-card-title-hover: 900;
  --font-line-height-commercial-mobile-section2-card-title-hover: 38.4px;
  --font-letter-spacing-commercial-mobile-section2-card-title-hover: 0rem;

  --font-weight-commercial-mobile-section2-card-content-hover: 700;
  --font-line-height-commercial-mobile-section2-card-content-hover: 25.6px;
  --font-letter-spacing-commercial-mobile-section2-card-content-hover: 0rem;

  --font-weight-commercial-mobile-section3-title: 900;
  --font-line-height-commercial-mobile-section3-title: 31.02px;
  --font-letter-spacing-commercial-mobile-section3-title: 0rem;

  --font-weight-commercial-mobile-section3-content: 700;
  --font-line-height-commercial-mobile-section3-content: 22.4px;
  --font-letter-spacing-commercial-mobile-section3-content: 0rem;

  --font-weight-commercial-mobile-section3-content-no: 900;
  --font-line-height-commercial-mobile-section3-content-no: 48px;
  --font-letter-spacing-commercial-mobile-section3-content-no: 0rem;

  --font-weight-commercial-mobile-section3-content-title: 900;
  --font-line-height-commercial-mobile-section3-content-title: 28.2px;
  --font-letter-spacing-commercial-mobile-section3-content-title: 0rem;

  --font-weight-commercial-mobile-section3-content-content: 700;
  --font-line-height-commercial-mobile-section3-content-content: 21.75px;
  --font-letter-spacing-commercial-mobile-section3-content-content: 0rem;
}
